body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.healthy-food {
    width: 50%;
    padding-left: 5%;

}

.healthy-food img {
    width: 100%;

}

.link-button {
    text-decoration: none;
    background: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-area {
    width: 100%;
    background-image: url(images/7.png);
    background-repeat: no-repeat;

}

.photo {
    text-align: center;
}

.different-food {
    text-align: center;
}

.food-item {
    width: 25%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;

}

.food-item img {
    width: 90%;
}

#pizza-item {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#burger-item {

    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}


#chicken-item {
    border-left: 7px solid;
    border-image: linear-gradient(purple, yellow);
    border-image-slice: 1;
}

main {
    margin-left: 120px;
}

.box {
    display: block;
    float: left;
    width: 25%;
    padding: 20px;
    padding-left: 12px;
    overflow: hidden;
}

.box img {
    width: 100%;
    border-radius: 5px;
}

.box img:hover {
    transform: scale(2, 2);
    transition: .3s transform;
    border-radius: 5px;
}

.disc {
    padding: 15px;
    text-align: center;
}